body {
    background-color: beige;
}
.all-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: #03002e;
}

.screen-grid {
    width: 275px;
    height: 175px;
    /* border: 2px solid black; */
    border-radius: 5px;
    margin: 10px;
    background-color: #4c664b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.screen-grid * {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: right;

}

.screen-grid * * {
    padding-right: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.top-row {
    display: flex;
}

.top-row * {
    flex-grow: 1;
    background-color: #4f1041;
    color: white;
}

.math-buttons {
    display: flex;
}

.numpad {
    flex-grow: 3;
    display: grid;
    grid-template-columns: auto auto auto;
}

.numpad * {
    background-color: #131317;
    color: white;
}


.operators {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.operators * {
    background-color: black;
    color: white;
}
button {
    padding: 15px 10px;
    /* border: 2px solid black; */
    margin: 5px;
    border-radius: 5px;
}

.spacer {
    opacity: 0;
}

.realButton:hover {
    opacity: 60%;
}